@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display');

*{
  box-sizing: border-box;
}

body{
  background-color: #5697db;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.counter-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter{
  font-size: 60px;
  margin-top: 10px;
}
/*当宽度小于580就会变成竖着排列*/
@media (max-width: 580px) {
  body{
    flex-direction:column;
  }
}
